Repository outpost-os/sentry-kernel, pull requests merged in 2024-11, with the labels that each got.

#73 security: adding security policy
  .github/SECURITY.md
Labels: documentation

#74 doc: update README, adding contribution and conduct standard files
  .github/release.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#75 openssf: adding badge
  README.md
Labels: documentation

#83 Bump rust to stable
  kernel/src/arch/asm-cortex-m/Kconfig
  meson.build
  meson.options
  support/arch/asm-cortex-m/meson.build
  uapi/meson.build
  uapi/rust-toolchain.toml.in
  uapi/uapi/lib.rs
Labels: enhancement, lang:rust, buildsystem:meson

#76 framac: fixing incorrect EVA explanation in doc
  doc/concepts/proof/wp.rst
Labels: documentation

#84 subprojects: remove unused Rust subprojects bitflags and paste
  subprojects/bitflags-rs.wrap
  subprojects/packagefiles/bitflags-rs.meson.patch
  subprojects/packagefiles/paste-rs.meson.patch
  subprojects/paste-rs.wrap
Labels: lang:rust, buildsystem:meson

#77 autotest: testing userspace interrupts
  autotest/Kconfig
  autotest/include/arch/asm-cortex-m/io.h
  autotest/include/drivers/timer.h
  autotest/include/io.h
  autotest/meson.build
  autotest/src/arch/asm-cortex-m/cortex-m-autotest.ld.in
  autotest/src/drivers/meson.build
  autotest/src/drivers/timer/meson.build
  autotest/src/drivers/timer/stm32-basic-timer-dt.c.in
  autotest/src/drivers/timer/stm32-basic-timer-dt.h.in
  autotest/src/drivers/timer/stm32-basic-timer.c
  autotest/src/main.c
  autotest/src/meson.build
  autotest/src/tests/test_gpio.c
  autotest/src/tests/test_irq.c
  autotest/src/tests/test_irq.h
  configs/nucleo_u5a5_autotest_defconfig
  configs/stm32f429i_disc1_autotest_defconfig
  dts/examples/nucleo_u5a5_autotest.dts
  dts/examples/stm32f429i_disc1_autotest.dts
  kernel/include/sentry/arch/asm-generic/panic.h
  kernel/src/managers/device/device.c
  kernel/src/managers/interrupt/interrupt.c
  kernel/src/managers/task/task_autotest.c.in
  kernel/src/managers/task/task_core.c
  kernel/src/syscalls/sysgate_int_disable.c
  kernel/src/syscalls/sysgate_int_enable.c
  kernel/src/syscalls/sysgate_waitforevent.c
Labels: test

#86 robot: adding IRQ test suite
  tools/robot/sentry-autotest.robot
Labels: ci-cd, test

#87 security: adding high level security flags
  dts/examples/nucleo_u5a5_autotest.dts
  dts/examples/stm32f429i_disc1_autotest.dts
  dts/sentry.dtsi
  meson.build
Labels: enhancement, security

#89 kconfig: Using Kconfig as global hardening selector
  kernel/Kconfig
  kernel/src/managers/Kconfig
  kernel/src/managers/security/entropy.c
  meson.build
Labels: security

#94 mpu: fixing invalid RNR value calculation
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v7.h
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v8.h
  kernel/src/managers/memory/memory_mpu.c
Labels: bug

#96 uapi: remove println macro from uapi
  uapi/uapi/uapi.rs
Labels: api, lang:rust
