Repository outpost-os/sentry-kernel, pull requests merged in 2024-12, with the labels that each got.

#98 Install crate to local registry
  REUSE.toml
  meson.build
  meson.options
  support/arch/asm-cortex-m/meson.build
  uapi/meson.build
  uapi/rust_target.in
  uapi/rustargs.in
Labels: feature, lang:rust, buildsystem:meson, buildsystem:cargo

#99 UAPI: move extern C to dediacted ffi_c module
  autotest/src/drivers/timer/stm32-basic-timer.c
  autotest/src/main.c
  autotest/src/printf.c
  autotest/src/ssp.c
  autotest/src/tests/test_cycles.c
  autotest/src/tests/test_dma.c
  autotest/src/tests/test_gpio.c
  autotest/src/tests/test_handle.c
  autotest/src/tests/test_ipc.c
  autotest/src/tests/test_irq.c
  autotest/src/tests/test_map.c
  autotest/src/tests/test_random.c
  autotest/src/tests/test_shm.c
  autotest/src/tests/test_signal.c
  autotest/src/tests/test_sleep.c
  autotest/src/tests/test_yield.c
  idle/src/main.c
  idle/src/ssp.c
  uapi/Cargo.toml
  uapi/include/uapi/uapi.h
  uapi/meson.build
  uapi/src/ffi_c.rs
  uapi/src/lib.rs
  uapi/src/meson.build
  uapi/src/svc_exchange.rs
  uapi/src/syscall.rs
  uapi/src/systypes.rs
  uapi/src/uapi.rs
Labels: api, lang:rust

#100 rust: add linker to rustargs
  support/arch/asm-cortex-m/meson.build
Labels: lang:rust, buildsystem:meson

#101 uapi: add support for complete systypes and cargo ecosystem
  uapi/meson.build
  uapi/src/arch/x86_64.rs
  uapi/src/ffi_c.rs
  uapi/src/lib.rs
  uapi/src/syscall.rs
  uapi/src/systypes.rs
Labels: api, documentation, enhancement, test, lang:rust

#102 cleaner kernel-user exchange area manipulation
  dts/sentry.dtsi
  uapi/src/exchange.rs
  uapi/src/ffi_c.rs
  uapi/src/lib.rs
  uapi/src/meson.build
  uapi/src/svc_exchange.rs
  uapi/src/syscall.rs
  uapi/src/systypes.rs
Labels: api, enhancement, lang:rust

#103 uapi,ffi_c: fix copy_from/to API to more rust-homogeneous one
  autotest/src/drivers/timer/stm32-basic-timer.c
  autotest/src/printf.c
  autotest/src/tests/test_cycles.c
  autotest/src/tests/test_dma.c
  autotest/src/tests/test_gpio.c
  autotest/src/tests/test_handle.c
  autotest/src/tests/test_ipc.c
  autotest/src/tests/test_irq.c
  autotest/src/tests/test_map.c
  autotest/src/tests/test_random.c
  autotest/src/tests/test_shm.c
  autotest/src/tests/test_signal.c
  autotest/src/tests/test_sleep.c
  idle/src/main.c
  uapi/include/uapi/uapi.h
  uapi/src/ffi_c.rs
Labels: api, enhancement, lang:rust, lang:c

#105 Adding proper README.md to uapi crate
  uapi/Cargo.toml
  uapi/README.md
Labels: api, documentation

#106 uapi: do not include --target in rustargs
  uapi/rustargs.in
Labels: bug, buildsystem:meson, buildsystem:cargo

#107 uapi: start support for rustic events (DMA, IPC, Signals and IRQ) manipulation
  uapi/src/exchange.rs
  uapi/src/systypes.rs
Labels: api, lang:rust
